@using DataAccess.Models

@model IEnumerable<ProductViewModel>
@* Paginator settings *@
@{
    var currentPage = ViewBag.CurrentPage ?? 1;
    var totalPages = ViewBag.TotalPages ?? 1;
    var productsPerPage = ViewBag.ProductsPerPage ?? 4;
}    


<div class="mb-2">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @foreach (var product in Model)
                {
                    <div class="col mb-5">
                        <div class="card cardProduct h-100">
                            <img class="card-img-top img-cover" src="@(product.UrlPictures.FirstOrDefault() ?? Url.Content("~/images/defaultimage.jpg"))" alt="@product.Name" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@product.Name</h5>
                                    <span>SKU: @product.SKU</span>
                                </div>
                                <p class="mt-3 text-center"><strong>@product.Price @product.Currency</strong></p>

                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <button id="btnVerProducto" data-id="@product.Id" class="btn btn-outline-dark mt-auto open-product-modal">
                                        <i class="fas fa-eye"></i> Ver producto
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

            @* Paginator *@
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                        <a class="page-link custom-paginator-link" href="@Url.Action("Index", new { Page = currentPage - 1, ProductsPerPage = productsPerPage })">
                            <i class="fas fa-angle-left"></i> Anterior
                        </a>
                    </li>
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active custom-paginator-active" : "")">
                            <a class="page-link custom-paginator-link" href="@Url.Action("Index", new { Page = i, ProductsPerPage = productsPerPage })">@i</a>
                        </li>
                    }
                    <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                        <a class="page-link custom-paginator-link" href="@Url.Action("Index", new { Page = currentPage + 1, ProductsPerPage = productsPerPage })">
                            Siguiente <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
@* Spinner  *@
<div id="loadingOverlay" style="display: none;">
    <div id="loadingSpinner">
        <div class="spinner-border text-white" role="status">
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        //Events
        $(document).on('click', '#btnVerProducto', function () {
            var productId = $(this).data('id');
            loadProductModal(productId);
        });


        //Functions
        function loadProductModal(productId) {
            $('#loadingOverlay').addClass('show').css('display', 'flex').fadeIn(300);
            $.ajax({
                url: '@Url.Action("GetProduct", "Products")',
                type: 'GET',
                data: { id: productId },
                success: function (result) {
                    $('#loadingOverlay').removeClass('show').fadeOut(200, function () {
                        setTimeout(function () {
                            $('#modalContainer').html(result);
                            $('#productModal-' + productId).modal('show');
                        }, 100);
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error al cargar el modal del producto:', error);
                }
            });
        }
    });


</script>